<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12 product-detail-card-container">
              <div>
                <div class="product-detail-card" *ngIf="cuenta && saldos">
                  <div class="home-wrapper-shadow">
                    <div class="row product-detail-card-wrapper">
                      <div class="col-12 col-lg-4 product-detail-card-container">
                        <p class="blue-title-card">Saldo disponible</p>
                        <div class="double-text">
                          <p class="double-text-currency">
                      <span class="small-currency">
                        S/
                      </span>
                            <span class="font-bold-alike">{{ cuenta.saldo | currency: ' '}}</span>
                          </p>
                          <span class="font-normal">Saldo contable
                        <span class="font-bold-alike ml-2">{{ contable | currency: 'S/. '}} </span>
                      </span>
                        </div>
                      </div>

                      <div class="col-md-6 col-lg-4 product-detail-card-container account-number">
                        <p class="blue-title-card">Número de Cuenta</p>
                        <p class="single-text">
                          <span class="font-bold-alike">{{ cuenta.ncuenta }}</span>
                        </p>
                      </div>

                      <div class="col-md-6 col-lg-4 product-detail-card-container account-number">
                        <p class="blue-title-card">Código de Cuenta Interbancaria</p>
                        <p class="single-text">
                          <span class="font-bold-alike">{{ cuenta.cci }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 product-summary-card-container">
              <div class="product-summary-card">
                <div class="home-wrapper-shadow">
                  <div class="summary-header summary-header-title">
                    <p class="product-summary-card-title">
                      Últimos movimientos
                    </p>
                  </div>

                  <div class="summary-body">
                    <div class="row detail-summary-table-header">
                      <p class="col date">
                        Fecha
                      </p>
                      <p class="col description-td">
                        Descripción
                      </p>
                      <p class="col amount-td">
                        Monto
                      </p>
                    </div>
                  </div>

                  <div class="bg-wrapper">
                    <div class="row detail-summary-table-body" [ngClass]="{'pendiente': saldo.estado === 'P'}" *ngFor="let saldo of saldos">
                      <div class="col date-wrapper">
                        <p class="date-td">
                          {{ saldo.created | date: 'd/M/yyyy'}}
                        </p>
                      </div>
                      <div class="col description-wrapper-td">
                        <p class="description">
                          {{ saldo.descripcion | uppercase }}
                        </p>
                      </div>

                      <div class="col amount-wrapper-td">
                        <p class="amount ng-star-inserted">
                          <span class="currency-color positive-balance" *ngIf="saldo.origen !== id">+</span>
                          <span class="currency-color negative-balance" *ngIf="saldo.origen === id">-</span>
                          {{ saldo.monto | currency: 'S/. '  }}
                        </p>
<!--                        <div class="arrow-container">-->
<!--                          <span class="detail-arrow"></span>-->
<!--                        </div>-->
                      </div>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

