<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row" *ngIf="transferencia">
            <div class="col-12">
              <div class="bcp-title mb-4">
                <h2 class="title">Tienes una transferencia pendiente</h2>
                <span class="subtitle">Verifica los datos y acepta la transferencia</span>
              </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <div  class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left">
                      <label>
                        De:
                      </label>
                      <p>{{ transferencia.nombres }} {{ transferencia.paterno }} {{ transferencia.materno }}</p>
                    </div>
                  </div>
                </div>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                  <div  class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left">
                    <label>
                      Descripción:
                    </label>
                    <p>{{ transferencia.descripcion }}</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                  <div  class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left">
                    <label>
                      Monto:
                    </label>
                    <p>{{ transferencia.monto | currency: ('S/. ') }}</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                  <div  class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left">
                    <label>
                      Fecha:
                    </label>
                    <p>{{ transferencia.createdat | date: 'dd-MM-yyyy hh:mm:ss' }}</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6 mt-4">
                  <div class="row">
                    <div class="col-6 col-md-6 mt-4">
                      <button type="button" class="btn-next btn btn-danger">
                        Rechazar
                      </button>
                    </div>
                    <div class="col-6 col-md-6 mt-4">
                      <button type="button" class="btn-next btn btn-primary" (click)="guardarTransferencia()">
                        Aceptar transferencia
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

