<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="bcp-title mb-4">
                                <h2 class="title">Transferencia a una cuenta propia</h2>
                                <span class="subtitle">Ingresa los datos y completa las opciones para
                  continuar</span
                >
              </div>
              <form
                novalidate=""
                class="text-center"
                [formGroup]="form"
                (ngSubmit)="transferir()"
              >
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <div
                      class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left"
                    >
                      <label for="f-origen"> Cuenta origen </label>
                      <select
                        formControlName="origen"
                        name="tipo1"
                        class="custom-select mr-sm-2"
                        id="f-origen"
                      >
                        <option
                          selected
                          *ngFor="let cuenta of cuentas"
                          [value]="cuenta.ncuenta"
                        >
                          {{ cuenta.ncuenta }} -
                          {{ cuenta.saldo | currency: "S/. " }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <div
                      class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left"
                    >
                      <label for="f-destino"> Cuenta destino </label>
                      <select
                        formControlName="destino"
                        name="tipo2"
                        class="custom-select mr-sm-2"
                        id="f-destino"
                      >
                        <option
                          selected
                          *ngFor="let cuenta of cuentas"
                          [value]="cuenta.ncuenta"
                        >
                          {{ cuenta.ncuenta }} -
                          {{ cuenta.saldo | currency: "S/. " }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-12 col-md-6">
                    <div
                      class="form-group form-group--relative form-group--stacked active text-box-wrapper text-left"
                    >
                      <label for="f-monto"> Monto </label>
                      <input
                        id="f-monto"
                        name="monto S/."
                        type="text"
                        class="form-control"
                        placeholder="Ingresa el monto"
                        aria-label="Password"
                        formControlName="monto"
                        (keypress)="onlynumber($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-12 mt-4">
                    <button type="submit" class="btn-next btn btn-primary">
                      Transferir
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>