<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col constancy_title">
            <h1 class="product-title">Datos personales</h1>
          </div>
        </div>
        <div class="row">
          <div class="col text-informative">
            <p class="constancy_subtitle">
              <!---->
              <span class="ng-star-inserted">Actualiza</span>
              tu correo para poder informarte sobre
              <strong> Estados de Cuenta, fraudes, alertas, constancias, resúmenes y otras operaciones</strong>
              en Banca por Internet y Banca Móvil.</p>
              <!---->
              <p class="ng-star-inserted">Tu correo de constancia actual es: <strong >jaccabrerac@gmail.com</strong></p>
          </div>
        </div>
        <div class="row personal-data">
          <div class="col-12 col-md-6 mb-4">
            <div class="label">Nombre</div>
            <div class="text data-name">cabrera callupe jorge armando</div>
          </div>
          <div class="col-12 col-md-6 mb-4">
            <div class="label">DNI</div>
            <div class="text">72429871</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
