.product-title{
   font-size: 18px;
   font-weight: bold;
   line-height: 1.33;
   color: #012d74;
}


.info-link{
   font-size: 14px;
   cursor: pointer;
   font-weight: bold;
   line-height: 1.71;
   color: #ff7800;
}


.text-informative{
  font-size: 14px;
  line-height: 1.71;
  text-align: justify;
  color: #282828;
}

.personal-data .label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #012d74;
  padding: 0;
}

.personal-data .text.data-name{
  text-transform: capitalize;
}
.personal-data .text {
  font-size: 16px;
  line-height: 2;
  color: #282828;
}
